/* only for testing the layout and effects, please name it as css file and link to the html file (here)*/

/* Basic setting */
		* {
			box-sizing: border-box;
		}

		.nav, .intro, .footer, .img_news_cover { 
		  margin: 1px;
		  padding: 15px;
		}

		/* ~ nav, intro border line setting ~ */
		.nav, .intro{
			border: 3px groove #000;
			border-radius: 5px;
		}

/* Header part*/
		.header {
			order: 1;
			width: 100%;
			padding: 12px;
			color: white;
			background-color: black;
			background-image: url('../image/tommaso-bottaro-botw-2-background2.png'); /* background link to image folder*/
			background-position: right; 
			text-align: left;
			border-radius: 4px;
		}
		
		.header h1{
			padding-left: 90px;
		}

/* Meun bar link to each pages */
		.menu_bar {
			order: 2;
			width: 100%;
			color: black;	
			display: flex;
			justify-content: center;
			font-size: 1.2rem;
			list-style: none;
			background-color: #f5f5f5;
			/* flex-wrap: wrap; 
/*			padding: 5px;*/
			display: block;
		}

		.menu_bar_box {
			display: flex;
			justify-content: center;
			font-size: 1.2rem;
			list-style: none;
			background-color: #E5E5E5;
			/* flex-wrap: wrap; */
			padding: 3px;
		}

		.list_box {
			background-color: #22af87;
			border: 3px #22af87 solid;
			text-align: center
		}

		li {
			margin: 2px;
			padding: 3px 10px;
			border-radius: 4px;
			width: 170px;
			font-size: 1.1rem;
		}

/* Current News navbox */
		.nav {
			order: 3;
			float: left;
			width: 69%;
			height: 300px;
			background: #b8c6cc;

		}

/* Introduction (About us) navbox */
		.intro {
			order: 4;
			/*important*/
			width: 30%; /* 69 + 30 = 99*/
			background-color: #f1f1f1;
			height: 300px;
			overflow: scroll;
		}

		.intro h1 {
			background-color: #6a7579;
			color: #fff;
			font-size: 2rem;
			padding: 7px 20px;
			margin: 10px 0px 20px;
			border-radius: 1px;
		}

		.intro_description{ 
			display: contents; /* TBC */
		}


		.main{
			background-color: #f0f0f0;
			border: 3px solid #47413f;
			border-radius: 5px;
			padding-top: 5px;
			padding-right: 50px;
			padding-bottom: 35px;
			padding-left: 50px;
			/* padding: 35px 50px; */
			margin-bottom: 30px;
		}
		
		/* trick: font colour */
		.path_title{
			font-size: 3.2rem;
			text-decoration: underline;
		}
		.highlight{
			color: #23bb90;
			text-decoration: none;
		}

		.main h2 {
			background-color: #808080;
			color: #fff;
			font-size: 2.2rem;
			padding: 7px 20px;
			margin: 10px 0px 20px;
			border-radius: 5px;
		}

		.main h2:hover, .archive:hover{
			text-decoration: underline solid #5a5a5a;
			text-decoration-thickness: 10%;
		}
		
		.archive {
			border: 4px solid #808080;
			font-size: 2.2rem;
			color: #808080;
			border-radius: 5px;
			padding: 7px 20px;
			margin: 10px 0px 20px;
		}

		.footer {
			order: 5;
			clear: both;
			position: relative;
			height: 60px;
			background-color: black;
			color: white;
			text-align: center;
		}


/* News / blog content layout */
		/* article cover image size */
		.article_thumbnail{
			max-width: 55%;
			/*  transition of hover*/
			transition: 0.2s; 
		}

		.article_thumbnail:hover{
			opacity: 0.6;
		}

		.img_content_slider{
			max-width: 45%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
		/* Content text setting & size */
		h3.subtitle, p.content_description{
			text-align: left;
		}
		
		.content_description{
			column-count: 2;
  			column-gap: 43px;
  			column-rule: 8px groove #30dca9;
		}
		.subtitle{
			color: #4d4d4d;
			font-style: italic;
			font-size: 1.5rem;
		}

		p.Author_and_Date{
			font-size: 15px;
			padding-top: 18px;
			text-align: right;
			color: #4d4d4d;
		}

/* Gallery setting */

		figure{
			padding: 0px 80px;
			margin: 0px -20px;
		}

		figure img{
			border-radius: 3px;
			margin: 4px;
			cursor: pointer;
		}
		/*  --- transition part  ---*/
		.gallery_img img{
			transition: 0.32s;
		}

		.gallery_img img:hover{
			transform: scale(0.84) rotate(5deg);
			/* opacity: 0.89; -- not use*/
			box-shadow: 15px 40px 35px #8192a5;
		}

/* Other setting / class*/
		.GameWeb-logo {
			width: 65px;
			height: 65px;
			float: left;
		}


		hr{
			border-style: none;
			border-top: 4px #000000 solid;
			border-color: #4494BD;
			margin: 35px 20px;
		}
		
		/* header h1 a href setting:  none*/
		.header a, .header a:hover, .header a:visited{
			color: inherit;
			text-decoration: none;
		}
		
		/* default a href setting:  */
		a, a:hover, a:visited{
			text-decoration: none;
		}

		a:link{
			color: #1a1a1a;
		}
		a:visited {
			color: #5a247f;
		}
		a:hover {
			color: deeppink;
		}

