/* only for testing the layout and effects, please name it as css file and link to the html file (here)*/

/* Basic setting */
		* {
			box-sizing: border-box;
		}

		.nav, .intro, .footer, .img_news_cover { 
		  margin: 1px;
		  padding: 15px;
		}


/* Header part*/
		.header {
			order: 1;
			width: 100%;
			padding: 12px;
			color: white;
			background-color: black;
			background-image: url('../image/tommaso-bottaro-botw-2-background2.png'); /* background link to image folder*/
			background-position: right; 
			text-align: left;
			border-radius: 4px;
		}
/* meun bar link to each pages */
		.menu_bar {
			order: 2;
			width: 100%;
			color: black;	
			display: flex;
			justify-content: center;
			font-size: 1.2rem;
			list-style: none;
			background-color: #f5f5f5;
			/* flex-wrap: wrap; 
/*			padding: 5px;*/
			display: block;
		}

		.menu_bar_box {
			display: flex;
			justify-content: center;
			font-size: 1.2rem;
			list-style: none;
			background-color: #E5E5E5;
			/* flex-wrap: wrap; */
			padding: 3px;
		}

		.list_box {
			background-color: #4494BD;
			border: 3px #4494BD solid;
			text-align: center
		}

		li {
			margin: 2px;
			padding: 3px 10px;
			border-radius: 4px;
			width: 170px;
			font-size: 1.1rem;
		}

/* Current News navbox */
		.intro {
			order: 3;
			padding: 10px;
			/*important*/
			width: 30%; /* 69 + 30 = 99*/
			background-color: #f1f1f1;
			height: 300px;
			/*			 only for demonstration, should be removed */
			border: 3px groove #000;
			overflow: scroll;
		}

		.intro h1 {
			background-color: #808080;
			color: #fff;
			font-size: 2rem;
			padding: 7px 20px;
			margin: 10px 0px 20px;
			border-radius: 1px;
		}

		.intro_description{ 
			display: contents; /* TBC */
		}

/* Introduction (About us) navbox */
		.nav {
			order: 4;
			float: left;
			padding: 15px;
			width: 69%;
			height: 300px;
			/*			 only for demonstration, should be removed */
			border: 3px groove #000;
			background: #ccc;

		}


		.main{
			background-color: white;
			border: 3px solid #a9a9a9;
			border-radius: 5px;
			padding: 35px 50px;
			margin-bottom: 30px;
		}

		.main h2 {
			background-color: #808080;
			color: #fff;
			font-size: 2rem;
			padding: 7px 20px;
			margin: 10px 0px 20px;
			border-radius: 1px;
		}

		.footer {
			order: 5;
			clear: both;
			position: relative;
			height: 60px;
			background-color: black;
			color: white;
			text-align: center;
		}

		a:hover {
			color: deeppink;
		}

		.img_news_cover{
			max-width: 45%;
			display: block;
			margin-left: auto;
			margin-right: auto;
		}


/* Other setting / class*/

		hr{
			border-style: none;
			border-top: 3px #000000 dashed;
			border-color: #4494BD;
			margin: 35px 20px;
		}

		a:hover {
			color: deeppink;
		}
